body {
    font-family: Arial, sans-serif;
    margin: 2rem;
  }
  
  .anforderung {
    margin-bottom: 10px;
  }
  
  .anforderung input[type="checkbox"] {
    margin-right: 10px;
  }
  
  #ergebnis {
    margin-top: 20px;
    font-weight: bold;
  }
  
  .richtig {
    color: green;
    font-weight: bold;
  }
  
  .falsch {
    color: red;
    font-weight: bold;
  }
  
  .warning {
    color: orange;
    font-weight: bold;
  }

  .info-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    margin-left: 5px;
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 10;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-contenido {
    background-color: #fff;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 400px;
    box-shadow: 0px 0px 10px #000;
  }
  
  .schliessen {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }  